snippet for "for(){}" bA
for (${1:int i = 0}; ${2:i < ${3}}; ${4:++i})
{
	 ${5}
}
endsnippet

snippet if "" bA
if (${1})
{
	 ${2}
}
endsnippet

snippet LOG "debug" bA
LOG_DBG("${1}");
endsnippet

snippet LOG "err" bA
LOG_ERR("${1}");
endsnippet

snippet LOG "debug" bA
LOG_DBG << ${1};
endsnippet

snippet LOG "err" bA
LOG_ERR << ${1};
endsnippet

snippet else "else" bA
else
{
     ${1}
}
endsnippet

snippet else "else if" bA
else if (${1})
{
    ${2}
}
endsnippet

